
@media only screen and (max-width: 500px){
	body{
		background: #ddd;
		background-size: 100%;
		height: auto;

	}
	.countenr {
		width: 80%;
		margin: 0% 10% 0% 10%;
	}
	.signupbox{
	    /*text-align: center;*/
	    width: 90%;
	}
	.mybook{
	    width: 45%;
	    height: 35%;
	    margin: 2.5%;

	}
	.mybook a img{
		width: 100%;
    	height: 100%;
    }
    header{
    	height: auto;
    	text-align: unset;
    	font-size: inherit;
    	padding: 10px 0 0 0;
    }

    header div span {
	    font-size: 32px;
	}
	.frenchstyle {
    	font-size: 50px;
    }
    nav{
    	text-align: initial;
	    width: 100%;
	    height: auto; 
	    padding: 10px;
	    box-sizing:border-box; 
	}
    nav ul li {
    	font-size: 100%;
    	padding: 2.5px 2.5px 0 2.5px;
    	margin: 2.5px;
    	width: auto;
    }
    .h{
	    width: 100%;
	    height: auto;
	    padding: 15px ;
	    box-sizing:border-box;  
	}
	.contact input[type="text"]{
		transition: padding-left 0.9s ease-in-out;
	}
	.contact:focus{
		padding-left: 0;
		
	}

}